.nav__menu .logo {
    width: 284px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}
.nav__toggle {
    display: none;
}
.nav__menu {
    flex-direction: row;
    margin: 3rem 2rem;
    margin-right: 4rem;
    gap: 4rem;

}
.nav__menu li {
    display: block;
}
.nav__menu li:last-child {
    background-color: var(--white);
}
.nav__menu a {
    color: var(--white);
    font-size: 2rem;
}
.nav__menu li:last-child:hover {
    cursor: pointer;
    background-color: #6ecefe;
}
.nav__menu li:last-child:hover a {
    color: var(--white);
}
.main-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 50vw));
    grid-template-rows: repeat(3, minmax(300px, 600px));
    width: 100%;
}
.main-section h2 {
    font-size: 4.5rem;
}
.main-section a {
    display: block;
    position: relative;
    text-align-last: start;
    font-size: 2.2rem;
}
.main-section .egg {
    background-color: #f9d304;
    background-size: contain;
    order: 2;
}
.main-section .transform,
.main-section .stand {
    height: auto;
    padding: 100px 190px;
    text-align: start;
    order: 1;
}
.main-section .white-background h2 {
    font-size: 5.5rem;
    text-align: start;
}
.main-section .white-background p {
    font-size: 2.3rem;
    line-height: 35px;
    text-align: start;
}

.main-section .learn {
    text-align: center;
}
.main-section .stand-out {
    order: 3;
}
.main-section .stand {
    order: 4;
}
.main-section .image-background p {
    transform: translate(0, 310px);
    padding: 45px 275px;
    font-size: 1.7rem;
}
.main-section .cherry-background {
    height: auto;
    order: 5;
    background-image: url('../images/desktop/image-graphic-design.jpg');
}
.main-section .orange-background {
    height: auto;
    order: 6;
    background-image: url('../images/desktop/image-photography.jpg');
}
.main-section .egg,
.main-section .stand-out {
    display: block;
    height: auto;
    background-image: url('../images/desktop/image-transform.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-section .stand-out {
    background-image: url('../images/desktop/image-stand-out.jpg');
}
.main-section .cherry-background {
    background-image: url('../images/desktop/image-graphic-design.jpg');
}
.main-section .orange-background {
    background-image: url('../images/desktop/image-photography.jpg');
}
.testimonial-container {
    height: 650px;
    padding: 100px 200px;
}
.testimonial-container .testimonial-title {
    padding: 25px 0;
    font-size: 3rem;
}
.testimonial-section {
    flex-direction: row;
}
.testimonial .image-testimonial {
    width: 70px;
    height: 70px;
    margin: 60px auto;
}
.testimonial .name {
    font-size: 2rem;
}
.testimonial-section span {
    display: block;
    padding: 0 70px;
    font-size: 2rem;
}
.image-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh;
    grid-auto-rows: auto;
}
.image-section .image {
    width: 25vw;
    height: 30vh;
    object-position: center;
    object-fit: cover;
}