.header {
    width: 100%;
    height: 575px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('../images/desktop/image-header.jpg');
    background-size: contain;
}
.header .header-title {
    font-size: 5rem;
}
.header .arrow-down {
    width: 33px;
    transform: translate(calc(50vw - 16.5px), 23px);
}
.main-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 50vw));
    grid-template-rows: repeat(3, minmax(300px, 540px));
    width: 100%;
}
.main-section .egg {
    order: 2;
}
.main-section .transform,
.main-section .stand {
    text-align: start;
    padding: 90px 80px;
    height: auto;
    order: 1;
}
.main-section .transform h2,
.main-section .stand h2 {
    text-align: start;
}
.main-section .learn {
    text-align: center;
}
.main-section .stand-out {
    order: 3;
}
.main-section .stand {
    order: 4;
}
.main-section .cherry-background {
    height: auto;
    order: 5;
    background-image: url('../images/desktop/image-graphic-design.jpg');
}
.main-section .orange-background {
    height: auto;
    order: 6;
    background-image: url('../images/desktop/image-photography.jpg');
}
.main-section .egg,
.main-section .stand-out {
    display: block;
    height: auto;
    background-image: url('../images/desktop/image-transform.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-section .stand-out {
    background-image: url('../images/desktop/image-stand-out.jpg');
}
.main-section .cherry-background {
    background-image: url('../images/desktop/image-graphic-design.jpg');
}
.main-section .orange-background {
    background-image: url('../images/desktop/image-photography.jpg');
}
.testimonial-section {
    flex-direction: row;
    justify-content: space-evenly;
}
.testimonial-section span {
    display: block;
    padding: 30px;
}
.image-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh;
    grid-auto-rows: auto;
}
.image-section .image {
    width: 100%;
    height: 30vh;
    object-position: center;
    object-fit: cover;
}